body {
    margin: 0px;
    background-color:#445453;
   
    
}
  
header{
    background-color: #008216;
 
    
}

    @media (max-width: 640px) {
        header {
          flex-direction: column;
}
    }

#menu {
    margin-left: 10px;
}

#shoppingcart {
    float: right;
}

#profilepicture {
    float: right;
    margin-right: 10px;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search {
    text-align: center;
    margin-top: 2%;
    
    }
    ::placeholder {
        color:red
        }
    
    input {
        background-color: #445453;
    }

    #buySell {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        font-size: 25px;
        padding-top: 3%;
        font-weight: bold;
        
    }

     #featured{
        text-align: center;
        margin-top: 7%;
        font-weight: bold;

    }

    #games {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        font-size: 25px;
        padding-top: 7%;
        
    } 

   
    